.about-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
    padding: 50px;
    overflow-x: hidden;
    backdrop-filter: blur(20px);
}

@media (max-width:640px) {
    .home-container h2 {
        max-width: 69%;
    }

    .home-container h2 p {
        line-height: 1.5;
    }

}